<!DOCTYPE html>
<html>
    <head>
        <!--<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>-->
        <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>-->
        <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
        <!--<link rel="stylesheet" type="text/css"
    href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>-->
        <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'skengine_app/editSketch.css' %}">
    </head>

    <body>

        <div class = "debug">
            <p>DEBUG</p>
        </div>

        <div class = "sketch">
        {% if text_list %}
            {% for text in text_list %}
                <div id="{{text.id}}" data-centre-x= "{{text.pos_from_centre_X}}" data-centre-y= "{{text.pos_from_centre_Y}}" style="width: {{text.width}}px; height: {{text.height}}px; left: 0px; top: 0px; z-index:0; position: fixed">
                    <div class = "container txt">
                        <p>{{text.txt}}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <ul>
            {% for text in text_list %}
                <li>{{text.txt}}</li>
            {% endfor %}
            </ul>
        {% endif %} 
        
        </div>

        

    <script src="{% static 'skengine_app/editSketch.js' %}"></script>
    <!--<script src="box.js"></script>-->
    </body>
</html>



