<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.js"></script>
        <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'skengine_app/editSketch.css' %}">
        <script src="{% static 'skengine_app/editSketch.js' %}"></script>
    </head>

    <body data-num-frames = "{{num_frames}}">
        <div class = "debug">
            <p>DEBUG {{error_message}}</p>
        </div>
        <form action="." method="post">
        {% csrf_token %}
        <button type="text" id="saveButton">SAVE</button>
        {% if text_list %}
            {% for text in text_list %}
                <div id="{{text.id}}" data-centre-x= "{{text.pos_from_centre_X}}" data-centre-y= "{{text.pos_from_centre_Y}}" style="width: {{text.width}}px; height: {{text.height}}px; left: 0px; top: 0px; z-index:0; position: fixed">
                    <div class = "container txt">
                        <p>{{text.txt}}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %} 
        </form>
        

    
    </body>
</html>



